<%- include('./partials/nav') %>
<main>  
  <h1><%= list.title %></h1>
<section class="baseplate"> 
  <% list.houses.forEach(house => { console.log(house.f_houses_id.poster_image)%>
  <article class="houses">
    <ul class="houseimages">
      <li>
        <a href="/details/<%= house.id %>">
            <picture> 
              <source srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>?format=avif" type="image/avif">
              <source srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>?format=webp" type="image/webp">
              <img class="image-size" src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>" loading="lazy" width="<%= house.f_houses_id.poster_image.width %>" height="<%= house.f_houses_id.poster_image.height %>">
            </picture>
        </a>
      </li>
    </ul>
    <ul class="housedetails">
      <li><p><%= house.f_houses_id.street %> <%= house.f_houses_id.house_nr %> <%= house.f_houses_id.house_nr_addition %></p></li>
      <li><p><%= house.f_houses_id.postal_code %></p></li> 
      <li><p><%= house.f_houses_id.city %></p></li> 
      <li><b><p>€<%= house.f_houses_id.price %></p></b></li> 
      <li><p><%= house.f_houses_id.agent %></p></li> 
      <li><a href="/ratings/<%= list.id %>/<%= house.f_houses_id.id %>">+ Rating</a></li>  
    </ul>
  </article>
  <% }); %>
</section>
 </main>

 <script>
  let links = document.querySelectorAll('.housedetails a');
  for (let i = 0; i < links.length; i++) {
    
    links[i].addEventListener('click', function(event) {
      fetch(this.href).then(function(response) {
        return response.text()
      }).then(function(responseHTML) {


        console.log(responseHTML)
        
        let dummy = document.createElement('div')
        dummy.innerHTML = responseHTML;
        let outerRating = dummy.querySelector('.outer-rating')
        console.log(outerRating)
        let dialog = document.createElement('dialog')
        dialog.appendChild(outerRating)
        document.body.appendChild(dialog)
        dialog.showModal()
      })
      event.preventDefault();
    })
  }

 </script>